<!-- Form used to add new entries of employee in database -->
<form class="form-horizontal alert alert-warning" name="empForm" id = "empForm" ng-submit="insertInfo(empInfo);" hidden>
<h3 class="text-center">Insert Employee Details Into Database</h3>
	
	<div class="form-group">
		<label for="id">Faculty Id:</label>
		<input type="text" name="id" class="form-control" placeholder="Enter id" ng-model="empInfo.id" value="" autofocus required />
	</div>
	
	<div>
		<label for="Name">First Name:</label>
		<input type="text" name="emp_name" class="form-control" placeholder="Enter Employee Name" ng-model="empInfo.fname" value="" autofocus required />
	</div>
	<div class="form-group">
		<p class="text-danger" ng-show="empList.emp_name.$invalid && empList.emp_name.$dirty">Name field is Empty!</p>
	</div>
	
	<div>
		<label for="Name">Last Name:</label>
		<input type="text" name="emp_nameLast" class="form-control" placeholder="Enter Employee Last Name" ng-model="empInfo.lname" value="" autofocus required />
	</div>
	<div class="form-group">
		<p class="text-danger" ng-show="empList.emp_nameLast.$invalid && empList.emp_name.$dirty">Name field is Empty!</p>
	</div>
	
	<div class="form-group">
		<label for="Email">Email Address:</label>
		<input type="email" name="emp_email" class="form-control" placeholder="Enter Employee Email Address" ng-model="empInfo.email" autofocus required />
	</div>
	<div class="form-group">
		<p class="text-danger" ng-show="empList.emp_email.$invalid && empList.emp_email.$dirty">Invalid Email!</p>
	</div>
	
	<div class="form-group">
		<label for="Email">Password:</label>
		<input type="password" name="emp_pass" class="form-control" placeholder="Enter Employee Password" ng-model="empInfo.pass" autofocus required />
	</div>
	
	<div class="form-group">
		<label for="id">Branch:</label>
		<input type="text" name="branch" class="form-control" placeholder="Enter Branch" ng-model="empInfo.branch" value="" autofocus required />
	</div>	
	
	<div class="form-group">
		<button class="btn btn-warning" ng-disabled="empList.$invalid">Add Into Database</button>
	</div>
</form>
