<!DOCTYPE html>
<html>
	<head>
		<style>
			ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #99d9e8;
}


li {
    float: left;
    border-right:1px solid #000;
	
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h1{
    color:white;
}

li a:hover:not(.active) {
    background-color: white;
}

.active {
    background-color: Blue
    ;
}
body {
    min-height:100%;
    background-color: #263238;
	color:white;
}
		</style>
		<script>
		
			count=0;			
			window.onpopstate=restore;
			xhr = new XMLHttpRequest();
			function fetchSubjects()
			{
				subject = document.getElementById("food");
				container = document.getElementById("container");
	
				if(subject.value == "")
				{
					container.innerHTML = "";
				}
		
				else
				{
						xhr.onreadystatechange = showSubjects;
						xhr.open("GET", "getSubjects.php?pl=" + subject.value, true);
						xhr.send();
			
				}
		
			}
	
			function showSubjects()
			{
				if(xhr.readyState == 4 && xhr.status == 200)
				{
					var subjects = JSON.parse(xhr.responseText);
					container.innerHTML = "";
					for(var j=0;j < subjects.length; j++)
					{
						var newdiv = document.createElement("div");
						newdiv.innerHTML = subjects[j];
						container.appendChild(newdiv);
					}
				
				}
			}
			
			function restore(e){
				
				var rest=e.state;
				document.getElementById("food").value=rest.fname;
				document.getElementById("cuisine").value=rest.cs;
				
			
			
			}
			var obj={
				xhr:new XMLHttpRequest(),
				getDetails:function()
				{
					var fname=document.getElementById("food").value
					this.xhr.onreadystatechange=this.showDetails;
					this.xhr.open("GET","d_code.php?fname="+fname,true);
					this.xhr.send();
				
				},
				
				showDetails:function()
				{
					//wait for response
					if(this.readyState==4 && this.status==200)
					{
						var res=JSON.parse(this.responseText);
						document.getElementById("cuisine").value=res.cs;
						
						var hist=new Object();
						hist["fname"]=document.getElementById("food").value;
						hist["cs"]=res.cs;
				
						history.pushState(hist,"XHR History","http://localhost/Web-Tech_project-master/project/faculty-ui/d_code.html?count="+count++);
						
						
					
					}
				
				}
			
			
			
			
			}
		
		</script>
	</head>
	
	
	<body>
	<div class="container" ng-app="myApp">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <center><h1>Welcome "FacultyName" 
		<div style="float:right" id="picture"><img src="../pesuLOGO.png" height=90 width=100/></div></h1></center>
			
      </div>
	  
    </div>
	<br/></br></br>
    
    <div ui-view></div>
    
  </div>
	<ul class="header">
  		<li><a class="active" href="../home.html">Home</a></li>
    		<li style="float:right"><a href="../login-page/index.html">Logout</a></li>
	</ul>
	<br/>
	<form action = "../question-paper/quesPaper.php">	
	<table border = 0>
		<label>Subject:              <input type="text" id="food" name = "subject" onkeyup="fetchSubjects()" onblur="obj.getDetails()"/><label></br></br>
		<tr>
			<td></td>
			<td><div id="container"></div></td>
		</tr>
	
		<tr>
			<td></td>
		</tr>
	</table>
	<label>Subject Code:             <input type="text" id="cuisine" disabled /><label></br></br>
	<label>Input Text for Generating Questions    </br><p><textarea name="item3" cols="50" rows="10"></textarea></p>
	</br></br>
	<div class="form-group">
		<label for="Type">Type of paper:</label>
		<label for="" class="radio-inline">
			<input type="radio" name="emp_gender" value="fillin" ng-model="empInfo.type">Fill in the blanks
		</label>
		<label for="" class="radio-inline">
			<input type="radio" name="emp_gender" value="brief" ng-model="empInfo.type">Brief Answer Questions
		</label>
	</div>
	</br>
	</br>
	<p><input type="submit" value="Generate Paper" id="gen_paper"></p>
	</form>



	</body>
</html>
